In [42]:
import pandas as pd
import numpy as np

In [43]:
sandbx = pd.read_csv('/workspaces/covid-19-data-pipeline-aws/covid-19-ETL/tmp/sandbox.csv')

In [40]:
sandbx.head(6)

   NUMERIC       DATE  STRING     FLOAT
0       12 2024-11-04  AKANNA   55.8700
1     <NA> 2024-09-23   NZUBE   34.6600
2        6 2023-12-30       4       NaN
3       67        NaT    NETO  208.0090
4        4 2024-03-24   EBUBE   23.2334

In [38]:
sandbx['NUMERIC'] = pd.to_numeric(sandbx['NUMERIC'], errors= 'coerce')
sandbx['FLOAT'] = pd.to_numeric(sandbx['FLOAT'], errors= 'coerce')
sandbx['DATE'] = pd.to_datetime(sandbx['DATE'], errors= 'coerce')

In [39]:
sandbx['NUMERIC'] = sandbx['NUMERIC'].astype('Int64')
sandbx['FLOAT'] = sandbx['FLOAT'].astype(float)
sandbx['DATE'] = sandbx['DATE'].astype('datetime64[ns]')
sandbx.head(6)

   NUMERIC       DATE  STRING     FLOAT
0       12 2024-11-04  AKANNA   55.8700
1     <NA> 2024-09-23   NZUBE   34.6600
2        6 2023-12-30       4       NaN
3       67        NaT    NETO  208.0090
4        4 2024-03-24   EBUBE   23.2334

In [41]:
sandbx.to_csv('/workspaces/covid-19-data-pipeline-aws/covid-19-ETL/tmp/sandbox2.csv')